.header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  box-shadow: 0px 6px 35px 0px rgba(0, 0, 0, 0.06);

  .header__top {
    padding: 2px 0;
    padding-right: 50px;
    display: flex;
    align-items: center;
    justify-content: end;
    background-color: $primary-color;
    gap: 1rem;
    position: relative;
    @media (max-width: 768px) {
      justify-content: center;
    }
    .header__socials {
      .icon {
        color: $white-color;
        font-size: 18px;
        margin: 0 1rem;
        transition: 0.3s ease-in;
        &:hover {
          color: $secondary-color;
        }
      }
    }
    .search-btn {
      i {
        color: $white-color;
        font-size: 18px;
        transition: 0.3s ease-in;
        &:hover {
          color: $secondary-color;
        }
      }
    }
  }
  .header__wrap {
    background-color: #ffffff;
    padding: 0 50px;
    @media (max-width: 400px) {
      padding: 0 20px;
    }
    @media (max-width: 768px) {
      padding: 1rem 50px;
    }

    .header__wrap--content {
      .header__logo-bg {
        position: absolute;
        width: 36%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: $secondary-color;
        z-index: 1;
        clip-path: polygon(0 0, 85% 0%, 54% 100%, 0% 100%);
        display: flex;
        align-items: center;
        @media (max-width: 768px) {
          display: none;
        }
        .header__logo {
          width: 200px;
          z-index: 2;
          position: relative;
          margin-left: 50px;

          @media (max-width: 768px) {
            width: 120px;
          }

          img {
            width: 100%;
            height: auto;
            object-fit: contain;
          }
        }
      }

      .header__nav--section {
        display: flex;
        justify-content: end;
        align-items: center;
        .nav {
          @media (max-width: 1250px) {
            display: none;
          }
          ul {
            padding-left: 0;
            margin-bottom: 0;
          }
          .nav__list {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 1.5rem;
            .nav__item {
              text-transform: capitalize;
              color: $white-color;
              padding: 1.5rem 0;
              &:hover {
                a {
                  color: $primary-color;
                }
                i {
                  color: $primary-color;
                }
                .sub-menu {
                  display: block;
                }
              }
              a {
                color: $secondary-color;
                transition: all 0.4s ease-out;
                display: flex;
                align-items: center;
                i {
                  font-size: 24px;
                  color: $secondary-color;
                }
              }
              .sub-menu {
                position: absolute;
                margin: 0;
                width: 260px;
                background-color: $secondary-color;
                top: 100%;
                padding: 20px 0;
                z-index: 55;
                transition: all 0.3s ease;
                display: none;

                .sub-menu__item {
                  text-transform: capitalize;
                  padding: 0 12px;
                  margin: 5px 0 10px;
                  transition: all 0.3s ease;
                  position: relative;
                  letter-spacing: 0px;
                  font-size: 15px;
                  display: flex;
                  align-items: center;

                  a {
                    color: $white-color;
                    transition: all 0.3s ease;
                  }
                  i {
                    color: $white-color;
                  }

                  &:hover {
                    .sub-category {
                      display: block;
                      a {
                        color: $white-color;
                      }
                    }
                    a {
                      color: $primary-color;
                      i {
                        color: $primary-color;
                      }
                    }
                  }

                  .sub-category {
                    position: absolute;
                    margin: 0;
                    width: 260px;
                    background-color: $secondary-color;
                    top: -25px;
                    left: -100%;
                    padding: 20px;
                    z-index: 55;
                    transition: all 0.3s ease;
                    display: none;

                    a {
                      display: flex;
                      align-items: center;
                    }

                    li {
                      transition: all 0.3s ease;
                      &:hover {
                        a {
                          color: $primary-color;
                        }
                      }
                    }

                    .sub-category__item {
                      padding: 0 12px;
                      margin: 5px 0 10px;
                      letter-spacing: 0px;
                      position: relative;
                      display: flex;
                      align-items: center;
                    }
                  }
                }
              }
            }
          }
        }

        .product-catalouge-btn {
          background-color: $primary-color;
          border-radius: 5px;
          color: $white-color;
          text-transform: capitalize;
          font-size: 14px;
          margin-left: 2rem;
          padding: 8px 16px;
          @media (max-width: 1250px) {
            display: none;
          }
        }
      }
      .side-menu-btn {
        display: none;
        cursor: pointer;
        font-size: 24px;
        @media (max-width: 1250px) {
          display: block;
        }
        @media (max-width: 576px) {
          font-size: 20px;
        }
      }
    }
  }
}

.search-box {
  top: -100%;
  width: 100%;
  height: 50vh;
  background-color: rgba(#000000, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  z-index: 999;
  position: fixed;
  transition: all 0.4s ease;

  &.active {
    top: 0;
  }

  form {
    width: 60%;
    border-bottom: 1px solid #bbb;
    padding: 12px 0;
    display: flex;
    justify-content: space-between;
    justify-items: center;

    input {
      width: 90%;
      font-size: 18px;
      color: #ffffff;
      background-color: transparent;
    }

    button {
      border: none;
      background-color: transparent;
      color: #ffffff;
      cursor: pointer;

      i {
        font-size: 22px;
      }
    }
  }

  .close-btn {
    position: absolute;
    right: 100px;
    top: 50px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: $white-color;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: absolute;
    bottom: 0;

    i {
      font-size: 24px;
      color: $black-color;
    }
  }
}

.offcanvas.offcanvas-start {
  background-color: $white-color;
  max-width: 310px;
  border-right: 3px solid $primary-color;

  .offcanvas-header {
    background-color: $secondary-color;
    img {
      max-width: 150px;
      height: auto;
      object-fit: contain;
    }
  }

  .offcanvas-body {
    .nav {
      .nav__mobile {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        margin-top: 2rem;
        .nav__item {
          margin-bottom: 2rem;
          text-transform: capitalize;

          a {
            color: $secondary-color;
          }
        }
      }
    }
  }
}
