.custom-breadcrumb {
  margin-bottom: 2rem;
  z-index: 0;
  width: 100%;
  padding: 2rem 0;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.bg-overlay::before {
  position: absolute;
  content: "";
  background: rgba(#000000, 0.8);
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  z-index: 0;
}

.bd-content {
  position: relative;
  padding: 3rem;
  z-index: 5;

  .bd-title {
    line-height: 65px;
    color: #fff;
    text-transform: capitalize;
    h1 {
      font-size: 32px;
      font-weight: 400;
    }
  }

  .bd-links {
    ul {
      padding-left: 0;
      margin-bottom: 0;
    }
  }
  ul li,
  ul li a {
    display: inline-block;
    position: relative;
    padding-right: 10px;
    margin-right: 10px;
    font-family: var(--font-alt);
    color: #d9d1ce;
    font-size: 16px;
    z-index: 5;
    text-transform: capitalize;

    &::before {
      position: absolute;
      content: "/";
      right: 0;
      top: 0;
    }

    &:last-child::before {
      position: absolute;
      content: "";
    }
  }
}
