@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none !important;
  list-style: none;
  outline: none;
  border: none;

  font-family: "Roboto", sans-serif;
}
$primary-color: #f38121;
$secondary-color: #231f20;
$text-color: #6a6a6a;
$white-color: #ffffff;
$black-color: #000000;
.section {
  padding: 3.5rem 0;
  @media (max-width: 576px) {
    padding: 2rem 0;
  }
}

.title-wrap {
  margin-bottom: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .title {
    font-size: 30px;
    font-weight: 500;
    text-transform: capitalize;
    color: $secondary-color;
  }
}
.btn-close {
  --bs-btn-close-color: #fff;
  --bs-btn-close-opacity: 0.5;
  --bs-btn-close-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e");
}
