@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none !important;
  list-style: none;
  outline: none;
  border: none;

  font-family: "Roboto", sans-serif;
}
$primary-color: #f38121;
$secondary-color: #231f20;
$text-color: #6a6a6a;
$white-color: #ffffff;
$black-color: #000000;
.section {
  padding: 3.5rem 0;
}

.title-wrap {
  margin-bottom: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .title {
    font-size: 32px;
    font-weight: 500;
    text-transform: capitalize;
    color: $secondary-color;
  }
}
